doctype html
html(lang="eng")
  head
   title Github Test
   link(type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
   script(type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
  body
   section#main.container
    div.outer
     div.left
      div.left-eye
     div.middle
     div.right
      div.right-eye
